@model IEnumerable<MyPayTracker.Models.TimeSheet>


@{
    ViewData["Title"] = "Search";

}
<h2>Search Time Sheets</h2>

<div>
    <br />
    <form asp-controller="TimeSheets" asp-action="Search" method="post">

     <label> Date(From)</label>
       <input type="date" name="From"/>
     <label>Date(To)</label>
       <input type="date" name="To"/>
     <label>Employee</label>
     <select name="id">
         @foreach (var employee in ViewBag.employees)
         {
             <option value=@employee.ID>@employee.DisplayName</option>
         }
     </select>
            
     <input type="submit" value="Search" />
    </form>
</div>

<hr />
<h3>Results</h3>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursWorked)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.DisplayName)
                </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
